{% extends "base.html" %}

{% block title %}Historia - {{ computer.hostname }}{% endblock %}

{% block header_main_left %}
    <a href="{{ url_for('views.computer_details', hostname=computer.hostname) }}" class="back-link">&larr; Powrót do szczegółów</a>
{% endblock %}

{% block sub_header %}
    <h1>Historia raportów dla: {{ computer.hostname }}</h1>
    <p><strong>IP:</strong> {{ computer.ip_address }}</p>
{% endblock %}

{% block content %}
    <table>
        <thead style="background-color: #6c757d;">
            <tr>
                <th>Data raportu</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ report.report_timestamp | to_local_time }}</td>
                <td>
                    <a href="{{ url_for('views.view_report', report_id=report.id) }}" class="action-btn btn-report">Zobacz szczegóły</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">Brak raportów w historii dla tego komputera.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}