{% extends "base.html" %}

{% block title %}Historia - {{ computer.hostname }}{% endblock %}

{% block header_main_left %}
    <a href="{{ url_for('views.computer_details', hostname=computer.hostname) }}" class="back-link">&larr; Powrót do szczegółów</a>
{% endblock %}

{% block sub_header %}
<div class="header-sub-grid">
    <div class="sub-grid-left">
        <h1>Historia raportów dla: {{ computer.hostname }}</h1>
        <p>Przeglądaj historyczne raporty. Użyj filtrów, aby zawęzić wyniki.</p>
    </div>
    <div class="sub-grid-right">
        <form id="history-search-form" class="blacklist-editor" method="GET" action="">
            <div class="editor-header">
                <label>Filtruj historię</label>
                <div class="editor-actions">
                    <a href="{{ url_for('views.computer_history', hostname=computer.hostname) }}" class="action-btn btn-secondary">Wyczyść</a>
                    <button type="submit" class="action-btn btn-report">Szukaj</button>
                </div>
            </div>

            <div class="history-search-fields">
                <div class="date-range-fields">
                    <div class="form-group">
                        <label for="start_date">Data od:</label>
                        <input type="date" id="start_date" name="start_date" value="{{ search_params.start_date }}">
                    </div>
                    <div class="form-group">
                        <label for="end_date">Data do:</label>
                        <input type="date" id="end_date" name="end_date" value="{{ search_params.end_date }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="keyword">Nazwa aplikacji zawiera:</label>
                    <input type="text" id="keyword" name="keyword" value="{{ search_params.keyword }}" placeholder="np. Chrome, 7-zip...">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
    <table>
        <thead style="background-color: #6c757d;">
            <tr>
                <th>Data raportu</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ report.report_timestamp | to_local_time }}</td>
                <td class="actions-cell">
                    <a href="{{ url_for('views.view_report', report_id=report.id) }}" class="action-btn btn-secondary">Zobacz szczegóły</a>
                    <a href="{{ url_for('views.report_from_history', report_id=report.id) }}" class="action-btn btn-report">Generuj raport</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">Nie znaleziono raportów pasujących do kryteriów wyszukiwania.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}